<launch>

    <arg name="event_FPN_file_path" default="$(find slip_detector)/SDK/config/FPN_Optical.txt"/>
    <arg name="frame_FPN_file_path" default="$(find slip_detector)/SDK/config/FPN_2.txt"/>

<!-- ##################可调阈值部分############################## -->
    <!-- ROI,分别是左上角坐标以及宽高，这个值好像是反的 -->
    <arg name="ROI_top" default="0"/>
    <arg name="ROI_left" default="0"/>
    <arg name="ROI_width" default="1280"/>
    <arg name="ROI_height" default="800"/>

    <!-- 两个阈值缩放参数，似乎这个角点阈值似乎没啥用 -->
    <!-- 1.66 ， 1.7 -->
    <arg name="dynamic_threshold_scale" default="1.60"/>
    <arg name="cor_threshold_scale" default="1.85"/>

    <!-- 允许的最大连续滑动次数，超过此就不再publish，如果希望所有滑动都报告，那就调大一点 -->，
    <arg name="max_slip_cnt" default="2"/>

    <!-- celex参数 略微调大能够检测较为平缓的滑动，但效果并不明显，记得不要超过5000us -->
    <arg name="event_frame_time" default="1000"/>

    <!-- 有点用的小东西 -->
    <!-- 进行静态场景阈值设定，下边的default值是根据我的场景得出的，如果修改了ROI，记得重新计算，然后设定一下-->
    <arg name="isInitThresTest" default="false"/>
    <arg name="cor_init_threshold" default="160"/>
    <arg name="event_init_threshold" default="240"/>
<!-- ########################################################## -->
    

    <!-- 两个可选参数，主动获取模式和回调模式 -->
    <arg name="detector_type" default="slip_detector_node_cb"/>
    <!-- <arg name="detector_type" default="slip_detector_node"/> -->

    <!-- 三种检测方法，Event_Off是最快的 -->
    <arg name="celex_mode" default="Optical_Flow_Mode"/>
    <!-- <arg name="celex_mode" default="Event_Off_Pixel_Timestamp_Mode"/> -->
    <!-- <arg name="celex_mode" default="Loop_Mode"/> -->

    
    <!-- <node pkg="slip_detector" type="slip_detector_node" name="celex5_slip_detector" output="screen"> -->
    <!-- <node pkg="slip_detector" type="slip_detector_node_cb" name="celex5_slip_detector" output="screen"> -->
    <node pkg="slip_detector" type="$(arg detector_type)" name="celex5_slip_detector" output="screen">
        <!-- <remap from="" to=""/> -->
        <!-- <remap from="" to=""/> -->

        <param name="event_frame_time" type="int" value="$(arg event_frame_time)"/>
        <param name="celex_mode" value="$(arg celex_mode)" />
        <param name="threshold" type="int" value="170" />
        <param name="clock_rate" type="int" value="100" />

        <param name="event_FPN_file_path" type="str" value="$(arg event_FPN_file_path)"/>
        <param name="frame_FPN_file_path" type="str" value="$(arg frame_FPN_file_path)"/>

        <param name="ROI_top" type="int" value="$(arg ROI_top)"/>
        <param name="ROI_left" type="int" value="$(arg ROI_left)"/>
        <param name="ROI_width" type="int" value="$(arg ROI_width)"/>
        <param name="ROI_height" type="int" value="$(arg ROI_height)"/>

        <param name="dynamic_threshold_scale" type="double" value="$(arg dynamic_threshold_scale)" />
        <param name="cor_threshold_scale" type="double" value="$(arg cor_threshold_scale)" />

        <param name="max_slip_cnt" type="int" value="$(arg max_slip_cnt)"/>

        <param name="isInitThresTest" type="bool" value="$(arg isInitThresTest)"/>
        <param name="cor_init_threshold" type="int" value="$(arg cor_init_threshold)"/>
        <param name="event_init_threshold" type="int" value="$(arg event_init_threshold)"/>


    </node>

</launch>