<launch>


    <arg name="event_FPN_file_path" default="$(find slip_detector)/SDK/config/FPN_Optical.txt"/>
    <arg name="frame_FPN_file_path" default="$(find slip_detector)/SDK/config/FPN_2.txt"/>

    <arg name="detector_type" default="slip_detector_node_cb"/>
    <!-- <arg name="detector_type" default="slip_detector_node"/> -->

    <!-- <arg name="celex_mode" default="Optical_Flow_Mode"/> -->
    <arg name="celex_mode" default="Event_Off_Pixel_Timestamp_Mode"/>
    <!-- <arg name="celex_mode" default="Loop_Mode"/> -->

    
    <!-- <node pkg="slip_detector" type="slip_detector_node" name="celex5_slip_detector" output="screen"> -->
    <!-- <node pkg="slip_detector" type="slip_detector_node_cb" name="celex5_slip_detector" output="screen"> -->
    <node pkg="slip_detector" type="$(arg detector_type)" name="celex5_slip_detector" output="screen">
        <!-- <remap from="" to=""/> -->
        <!-- <remap from="" to=""/> -->
    
        <param name="celex_mode" value="$(arg celex_mode)" />
        <param name="threshold" value="170" />
        <param name="clock_rate" value="100" />

        <param name="event_FPN_file_path" type="str" value="$(arg event_FPN_file_path)"/>
        <param name="frame_FPN_file_path" type="str" value="$(arg frame_FPN_file_path)"/>
    </node>


</launch>